html, body {
  width: 200vw;
  height: 200vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); 
  row-gap: 2px;
  grid-template-rows: repeat(100, 20px);
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  kerning: auto;
}



.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hide the button by default */
  border: 2px solid black; /* Add a border style */
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: arial;
  background: none; /* Remove the background */
  color: black; /* Set the text color */
}

.scroll-to-top-button:hover {
  background: none; /* Remove the background on hover */
}


.scroll-to-top-button:hover {
  background-color: #0000008f;
  color: aliceblue;
}

#myCanvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%; /* Use a percentage to cover the full width */
  height: 100%; /* Use a percentage to cover the full height */
  z-index: -10;
  opacity: 20%;
  filter: blur(5px);
  color:blue;
}



.text-a {
  grid-row: 1;
  margin-top: 1rem;
  grid-column: 4/50;
  text-align: left;
  align-self:first baseline;
  font-size: 40pt;
}

.italic {
  font-style: italic;
}


.text-b {
  grid-row: 5;
  margin-top: 1rem;
  grid-column: 4/24;
  text-align: left;
  align-self:first baseline;
  font-size: 20pt;
}

a {
  color: green; 
  text-decoration: none; 
  font-style: italic;
}

[class^="fact-"] {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 200%;
  white-space: nowrap;
  column-span: 3;
  color: green;
  filter: blur(5px); 
}

[class^="fact-"]:hover {
  filter: blur(0); /* Remove blur on hover to make it sharp */
}



.fact-1 {
  grid-row: 123;
  grid-column: 35;
}

.fact-2 {
  grid-row: 80;
  grid-column: 86;
}

.fact-3 {
  grid-row: 84;
  grid-column: 112;
}

.fact-4 {
  grid-row: 165;
  grid-column: 42;
}

.fact-5 {
  grid-row: 72;
  grid-column: 97;
}

.fact-6 {
  grid-row: 147;
  grid-column: 118;
}

.fact-7 {
  grid-row: 33;
  grid-column: 115;
}

.fact-8 {
  grid-row: 87;
  grid-column: 73;
}

.fact-9 {
  grid-row: 62;
  grid-column: 95;
}

.fact-10 {
  grid-row: 103;
  grid-column: 178;
}

.fact-11 {
  grid-row: 196;
  grid-column: 17;
}

.fact-12 {
  grid-row: 95;
  grid-column: 147;
}

.fact-13 {
  grid-row: 24;
  grid-column: 83;
}

.fact-14 {
  grid-row: 111;
  grid-column: 55;
}

.fact-15 {
  grid-row: 176;
  grid-column: 78;
}

.fact-16 {
  grid-row: 134;
  grid-column: 94;
}

.fact-17 {
  grid-row: 163;
  grid-column: 77/80;
}

.fact-18 {
  grid-row: 56;
  grid-column: 93;
}

.fact-19 {
  grid-row: 85;
  grid-column: 65;
}

.fact-20 {
  grid-row: 189;
  grid-column: 124;
}

.fact-21 {
  grid-row: 129;
  grid-column: 54;
}

.fact-22 {
  grid-row: 176;
  grid-column: 5;
}

.fact-23 {
  grid-row: 162;
  grid-column: 89;
}

.fact-24 {
  grid-row: 94;
  grid-column: 45;
}

.fact-25 {
  grid-row: 103;
  grid-column: 18;
}

.fact-26 {
  grid-row: 37;
  grid-column: 96;
}

.fact-27 {
  grid-row: 51;
  grid-column: 82;
}

.fact-28 {
  grid-row: 77;
  grid-column: 110;
}

.fact-29 {
  grid-row: 44;
  grid-column: 87;
}

.fact-30 {
  grid-row: 15;
  grid-column: 74;
}

.fact-31 {
  grid-row: 54;
  grid-column: 87;
}

.fact-32 {
  grid-row: 9;
  grid-column: 74;
}

li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15pt;
  font-style: oblique;
  white-space: nowrap;
}

p{
  grid-column: span 2;
}


.item-1 {
  grid-row: 128;
  grid-column: 73;
}

.item-2 {
  grid-row: 63;
  grid-column: 174;
}

.item-3 {
  grid-row: 41;
  grid-column: 33;
}

.item-4 {
  grid-row: 105;
  grid-column: 91;
}

.item-5 {
  grid-row: 89;
  grid-column: 26;
}

.item-6 {
  grid-row: 17;
  grid-column: 143;
}

.item-7 {
  grid-row: 84;
  grid-column: 52;
}

.item-8 {
  grid-row: 125;
  grid-column: 97;
}

.item-9 {
  grid-row: 33;
  grid-column: 186;
}

.item-10 {
  grid-row: 153;
  grid-column: 128;
}

.item-11 {
  grid-row: 14;
  grid-column: 123;
}

.item-12 {
  grid-row: 57;
  grid-column: 16;
}

.item-13 {
  grid-row: 186;
  grid-column: 76;
}

.item-14 {
  grid-row: 189;
  grid-column: 35;
}

.item-15 {
  grid-row: 76;
  grid-column: 58;
}

.item-16 {
  grid-row: 156;
  grid-column: 77;
}

.item-17 {
  grid-row: 37;
  grid-column: 95;
}

.item-18 {
  grid-row: 174;
  grid-column: 28;
}

.item-19 {
  grid-row: 65;
  grid-column: 110;
}

.item-20 {
  grid-row: 129;
  grid-column: 160;
}

.item-21 {
  grid-row: 167;
  grid-column: 177;
}

.item-22 {
  grid-row: 113;
  grid-column: 193;
}

.item-23 {
  grid-row: 145;
  grid-column: 102;
}

.item-24 {
  grid-row: 127;
  grid-column: 90;
}

.item-25 {
  grid-row: 110;
  grid-column: 56;
}

.item-26 {
  grid-row: 149;
  grid-column: 133;
}

.item-27 {
  grid-row: 99;
  grid-column: 51;
}

.item-28 {
  grid-row: 97;
  grid-column: 38;
}

.item-29 {
  grid-row: 50;
  grid-column: 71;
}

.item-30 {
  grid-row: 96;
  grid-column: 170;
}

.item-31 {
  grid-row: 62;
  grid-column: 141;
}

.item-32 {
  grid-row: 149;
  grid-column: 162;
}

.item-33 {
  grid-row: 156;
  grid-column: 58;
  width: fit-content;
}

.item-34 {
  grid-row: 119;
  grid-column: 111;
}

.item-35 {
  grid-row: 81;
  grid-column: 91;
}

.item-36 {
  grid-row: 107;
  grid-column: 186;
}

.item-37 {
  grid-row: 108;
  grid-column: 120;
}

.item-38 {
  grid-row: 179;
  grid-column: 53;
}

.item-39 {
  grid-row: 85;
  grid-column: 37;
}

.item-40 {
  grid-row: 195;
  grid-column: 156;
}

.item-41 {
  grid-row: 170;
  grid-column: 156;
}

.item-42 {
  grid-row: 180;
  grid-column: 105;
}

.item-43 {
  grid-row: 176;
  grid-column: 17;
}

.item-44 {
  grid-row: 132;
  grid-column: 92;
}

.item-45 {
  grid-row: 154;
  grid-column: 135;
}

.item-46 {
  grid-row: 106;
  grid-column: 85;
}

.item-47 {
  grid-row: 171;
  grid-column: 104;
}

.item-48 {
  grid-row: 109;
  grid-column: 117;
}

.item-49 {
  grid-row: 155;
  grid-column: 159;
}

.item-50 {
  grid-row: 191;
  grid-column: 53;
}

.item-51 {
  grid-row: 145;
  grid-column: 91;
}

.item-52 {
  grid-row: 176;
  grid-column: 93;
}

.item-53 {
  grid-row: 148;
  grid-column: 27;
}

.item-54 {
  grid-row: 110;
  grid-column: 82;
}

.item-55 {
  grid-row: 113;
  grid-column: 103;
}

.item-56 {
  grid-row: 96;
  grid-column: 172;
}

.item-57 {
  grid-row: 182;
  grid-column: 123;
}

.item-58 {
  grid-row: 119;
  grid-column: 186;
}

.item-59 {
  grid-row: 125;
  grid-column: 129;
}

.item-60 {
  grid-row: 141;
  grid-column: 174;
}

.item-61 {
  grid-row: 111;
  grid-column: 125;
}

.item-62 {
  grid-row: 148;
  grid-column: 106;
}

.item-63 {
  grid-row: 131;
  grid-column: 59;
}

.item-64 {
  grid-row: 149;
  grid-column: 145;
}

.item-65 {
  grid-row: 189;
  grid-column: 94;
}

.item-66 {
  grid-row: 153;
  grid-column: 24;
}

.item-67 {
  grid-row: 117;
  grid-column: 79;
}

.item-68 {
  grid-row: 190;
  grid-column: 52;
}

.item-69 {
  grid-row: 186;
  grid-column: 11;
}

.item-70 {
  grid-row: 129;
  grid-column: 64;
}

.item-71 {
  grid-row: 121;
  grid-column: 21;
}

.item-72 {
  grid-row: 100;
  grid-column: 28;
}

.item-73 {
  grid-row: 146;
  grid-column: 107;
}

.item-74 {
  grid-row: 109;
  grid-column: 46;
}

.item-75 {
  grid-row: 163;
  grid-column: 33;
}

.item-76 {
  grid-row: 144;
  grid-column: 76;
}

.item-77 {
  grid-row: 154;
  grid-column: 118;
}

.item-78 {
  grid-row: 190;
  grid-column: 72;
}

.item-79 {
  grid-row: 129;
  grid-column: 89;
}

.item-80 {
  grid-row: 164;
  grid-column: 147;
}

.item-81 {
  grid-row: 123;
  grid-column: 45;
}

.item-82 {
  grid-row: 146;
  grid-column: 141;
}

.item-83 {
  grid-row: 112;
  grid-column: 139;
}

.item-84 {
  grid-row: 132;
  grid-column: 53;
}

.item-85 {
  grid-row: 102;
  grid-column: 135;
}

.item-86 {
  grid-row: 167;
  grid-column: 60;
}

.item-87 {
  grid-row: 168;
  grid-column: 16;
}

.item-88 {
  grid-row: 142;
  grid-column: 24;
}

.item-89 {
  grid-row: 192;
  grid-column: 84;
}

.item-90 {
  grid-row: 167;
  grid-column: 99;
}

.item-91 {
  grid-row: 145;
  grid-column: 29;
}

.item-92 {
  grid-row: 190;
  grid-column: 48;
}

.item-93 {
  grid-row: 170;
  grid-column: 134;
  width: fit-content;
}

.item-94 {
  grid-row: 139;
  grid-column: 42;
}

.item-95 {
  grid-row: 163;
  grid-column: 47;
}

.item-96 {
  grid-row: 117;
  grid-column: 64;
}

.item-97 {
  grid-row: 140;
  grid-column: 15;
}

.item-98 {
  grid-row: 172;
  grid-column: 104;
}

.item-99 {
  grid-row: 178;
  grid-column: 66;
}

.item-100 {
  grid-row: 145;
  grid-column: 30;
}

.item-101 {
  grid-row: 168;
  grid-column: 133;
}

.item-102 {
  grid-row: 132;
  grid-column: 73;
}

.item-103 {
  grid-row: 190;
  grid-column: 34;
}

.item-104 {
  grid-row: 144;
  grid-column: 25;
}

.item-105 {
  grid-row: 152;
  grid-column: 62;
}

.item-106 {
  grid-row: 127;
  grid-column: 46;
}

.item-107 {
  grid-row: 156;
  grid-column: 143;
}

.item-108 {
  grid-row: 151;
  grid-column: 93;
}

.item-109 {
  grid-row: 119;
  grid-column: 148;
}

.item-110 {
  grid-row: 143;
  grid-column: 48;
}

.item-111 {
  grid-row: 109;
  grid-column: 53;
}

.item-112 {
  grid-row: 152;
  grid-column: 114;
}

.item-113 {
  grid-row: 136;
  grid-column: 42;
}

.item-114 {
  grid-row: 130;
  grid-column: 146;
}

.item-115 {
  grid-row: 103;
  grid-column: 35;
}

.item-116 {
  grid-row: 127;
  grid-column: 91;
}

.item-117 {
  grid-row: 152;
  grid-column: 97;
  width: fit-content;
}

.item-118 {
  grid-row: 180;
  grid-column: 130;
  width: fit-content;
}

.item-119 {
  grid-row: 190;
  grid-column: 78;
  width: fit-content;
}

.item-120 {
  grid-row: 150;
  grid-column: 112;
  width: fit-content;
}

.item-121 {
  grid-row: 114;
  grid-column: 107;
  width: fit-content;
}

.item-122 {
  grid-row: 157;
  grid-column: 45;
  width: fit-content;
}

.item-123 {
  grid-row: 132;
  grid-column: 88;
  width: fit-content;
}

.item-124 {
  grid-row: 123;
  grid-column: 54;
  width: fit-content;
}

.item-125 {
  grid-row: 157;
  grid-column: 35;
  width: fit-content;
}

.item-126 {
  grid-row: 128;
  grid-column: 84;
  width: fit-content;
}

.item-127 {
  grid-row: 147;
  grid-column: 73;
  width: fit-content;
}

.item-128 {
  grid-row: 185;
  grid-column: 65;
  width: fit-content;
}

.item-129 {
  grid-row: 108;
  grid-column: 45;
  width: fit-content;
}

.item-130 {
  grid-row: 149;
  grid-column: 62;
}

.item-131 {
  grid-row: 142;
  grid-column: 131;
  width: fit-content;
}

.item-132 {
  grid-row: 155;
  grid-column: 61;
}

.item-133 {
  grid-row: 140;
  grid-column: 73;
}

.item-134 {
  grid-row: 140;
  grid-column: 121;
  width: fit-content;
}

.item-135 {
  grid-row: 190;
  grid-column: 41;
}

.item-136 {
  grid-row: 186;
  grid-column: 64;
  width: fit-content;
}

.item-137 {
  grid-row: 192;
  grid-column: 42;
  width: fit-content;
}

.item-138 {
  grid-row: 152;
  grid-column: 3;
  width: fit-content;
}

.item-139 {
  grid-row: 161;
  grid-column: 62;
  width: fit-content;
}

.item-140 {
  grid-row: 114;
  grid-column: 68;
  width: fit-content;
}

.item-141 {
  grid-row: 109;
  grid-column: 90;
  width: fit-content;
}

.item-142 {
  grid-row: 184;
  grid-column: 62;
  width: fit-content;
}

.item-143 {
  grid-row: 195;
  grid-column: 120;
  width: fit-content;
}

.item-144 {
  grid-row: 115;
  grid-column: 57;
  width: fit-content;
}

.item-145 {
  grid-row: 135;
  grid-column: 98;
}

.item-146 {
  grid-row: 110;
  grid-column: 41;
}

.item-147 {
  grid-row: 142;
  grid-column: 133;
}

.item-148 {
  grid-row: 148;
  grid-column: 101;
  width: fit-content;
}

.item-149 {
  grid-row: 155;
  grid-column: 33;
  width: fit-content;
}

.item-150 {
  grid-row: 145;
  grid-column: 11;
  width: fit-content;
}

.item-151 {
  grid-row: 119;
  grid-column: 28;
  width: fit-content;
}

.item-152 {
  grid-row: 111;
  grid-column: 89;
}

.item-153 {
  grid-row: 124;
  grid-column: 55;
}

.item-154 {
  grid-row: 126;
  grid-column: 126;
  width: fit-content;
}

.item-155 {
  grid-row: 111;
  grid-column: 51;
  width: fit-content;
}

.item-156 {
  grid-row: 105;
  grid-column: 95;
  width: fit-content;
}

.item-157 {
  grid-row: 104;
  grid-column: 39;
  width: fit-content;
}

.item-158 {
  grid-row: 157;
  grid-column: 72;
}

.item-159 {
  grid-row: 146;
  grid-column: 62;
}

.item-160 {
  grid-row: 190;
  grid-column: 127;
}

.item-161 {
  grid-row: 177;
  grid-column: 87;
}

.item-162 {
  grid-row: 120;
  grid-column: 36;
}

.item-163 {
  grid-row: 141;
  grid-column: 90;
}

.item-164 {
  grid-row: 132;
  grid-column: 23;
}

.item-165 {
  grid-row: 120;
  grid-column: 118;
  width: fit-content;
}

.item-166 {
  grid-row: 175;
  grid-column: 56;
  width: fit-content;
}

.item-167 {
  grid-row: 185;
  grid-column: 50;
  width: fit-content;
}

.item-168 {
  grid-row: 175;
  grid-column: 15;
}

.item-169 {
  grid-row: 178;
  grid-column: 135;
}

.item-170 {
  grid-row: 115;
  grid-column: 78;
  width: fit-content;
}

.item-171 {
  grid-row: 171;
  grid-column: 77;
  width: fit-content;
}

.item-172 {
  grid-row: 185;
  grid-column: 41;
  width: fit-content;
}

.item-173 {
  grid-row: 139;
  grid-column: 55;
}

.item-174 {
  grid-row: 104;
  grid-column: 46;
  width: fit-content;
}

.item-175 {
  grid-row: 180;
  grid-column: 74;
}

.item-176 {
  grid-row: 151;
  grid-column: 77;
  width: fit-content;
}

.item-177 {
  grid-row: 162;
  grid-column: 136;
}

.item-178 {
  grid-row: 127;
  grid-column: 140;
  width: fit-content;
}

.item-179 {
  grid-row: 112;
  grid-column: 54;
}

.item-180 {
  grid-row: 138;
  grid-column: 41;
  width: fit-content;
}

.item-181 {
  grid-row: 131;
  grid-column: 107;
  width: fit-content;
}

.item-182 {
  grid-row: 183;
  grid-column: 116;
}

.item-183 {
  grid-row: 178;
  grid-column: 74;
  width: fit-content;
}

.item-184 {
  grid-row: 122;
  grid-column: 135;
}

.item-185 {
  grid-row: 107;
  grid-column: 32;
  width: fit-content;
}

.item-186 {
  grid-row: 104;
  grid-column: 82;
  width: fit-content;
}

.item-187 {
  grid-row: 178;
  grid-column: 21;
  width: fit-content;
}

.item-188 {
  grid-row: 136;
  grid-column: 105;
}

.item-189 {
  grid-row: 105;
  grid-column: 16;
  width: fit-content;
}

.item-190 {
  grid-row: 120;
  grid-column: 60;
  width: fit-content;
}

.item-191 {
  grid-row: 135;
  grid-column: 94;
}

.item-192 {
  grid-row: 109;
  grid-column: 59;
  width: fit-content;
}

.item-193 {
  grid-row: 176;
  grid-column: 30;
}

.item-194 {
  grid-row: 172;
  grid-column: 45;
  width: fit-content;
}

.item-195 {
  grid-row: 166;
  grid-column: 96;
}

.item-196 {
  grid-row: 130;
  grid-column: 137;
  width: fit-content;
}

.item-197 {
  grid-row: 164;
  grid-column: 56;
  width: fit-content;
}

.item-198 {
  grid-row: 179;
  grid-column: 39;
}

.item-199 {
  grid-row: 142;
  grid-column: 61;
  width: fit-content;
}

.item-200 {
  grid-row: 126;
  grid-column: 78;
  width: fit-content;
}

.item-201 {
  grid-row: 150;
  grid-column: 1;
  width: fit-content;
}

.item-202 {
  grid-row: 155;
  grid-column: 2;
  width: fit-content;
}

.item-203 {
  grid-row: 103;
  grid-column: 117;
  width: fit-content;
}

.item-204 {
  grid-row: 114;
  grid-column: 80;
  width: fit-content;
}

.item-205 {
  grid-row: 136;
  grid-column: 60;
}

.item-206 {
  grid-row: 141;
  grid-column: 66;
}

.item-207 {
  grid-row: 159;
  grid-column: 77;
}

.item-208 {
  grid-row: 142;
  grid-column: 72;
}

.item-209 {
  grid-row: 108;
  grid-column: 76;
}

.item-210 {
  grid-row: 134;
  grid-column: 13;
  width: fit-content;
}

.item-211 {
  grid-row: 169;
  grid-column: 22;
  width: fit-content;
}

.item-212 {
  grid-row: 132;
  grid-column: 6;
  width: fit-content;
}

.item-213 {
  grid-row: 137;
  grid-column: 8;
  width: fit-content;
}

.item-214 {
  grid-row: 103;
  grid-column: 101;
  width: fit-content;
}

.item-215 {
  grid-row: 182;
  grid-column: 5;
  width: fit-content;
}

.item-216 {
  grid-row: 154;
  grid-column: 125;
}

.item-217 {
  grid-row: 184;
  grid-column: 38;
  width: fit-content;
}

.item-218 {
  grid-row: 116;
  grid-column: 47;
}

.item-219 {
  grid-row: 148;
  grid-column: 80;
  width: fit-content;
}

.item-220 {
  grid-row: 157;
  grid-column: 28;
  width: fit-content;
}

.item-221 {
  grid-row: 178;
  grid-column: 89;
}

.item-222 {
  grid-row: 165;
  grid-column: 49;
}

.item-223 {
  grid-row: 169;
  grid-column: 105;
  width: fit-content;
}

.item-224 {
  grid-row: 148;
  grid-column: 108;
  width: fit-content;
}

.item-225 {
  grid-row: 103;
  grid-column: 122;
  width: fit-content;
}

.item-226 {
  grid-row: 115;
  grid-column: 19;
  width: fit-content;
}

.item-227 {
  grid-row: 140;
  grid-column: 83;
  width: fit-content;
}

.item-228 {
  grid-row: 108;
  grid-column: 40;
}

.item-229 {
  grid-row: 141;
  grid-column: 20;
}

.item-230 {
  grid-row: 184;
  grid-column: 95;
  width: fit-content;
}

.item-231 {
  grid-row: 184;
  grid-column: 11;
  width: fit-content;
}

.item-232 {
  grid-row: 172;
  grid-column: 44;
  width: fit-content;
}

.item-233 {
  grid-row: 181;
  grid-column: 17;
  width: fit-content;
}

.item-234 {
  grid-row: 103;
  grid-column: 28;
  width: fit-content;
}

.item-235 {
  grid-row: 142;
  grid-column: 68;
}

.item-236 {
  grid-row: 142;
  grid-column: 65;
  width: fit-content;
}

.item-237 {
  grid-row: 112;
  grid-column: 68;
  width: 100%;
  width: fit-content;
}

.item-238 {
  grid-row: 137;
  grid-column: 20;
  width: fit-content;
}

.item-239 {
  grid-row: 166;
  grid-column: 85;
  width: fit-content;
}

.item-240 {
  grid-row: 115;
  grid-column: 25;
}

.item-241 {
  grid-row: 119;
  grid-column: 80;
  width: fit-content;
}

.item-242 {
  grid-row: 185;
  grid-column: 66;
  width: fit-content;
}

.item-243 {
  grid-row: 110;
  grid-column: 50;
  width: fit-content;
}

.item-244 {
  grid-row: 166;
  grid-column: 25;
  width: fit-content;
}

.item-245 {
  grid-row: 173;
  grid-column: 35;
}

.item-246 {
  grid-row: 127;
  grid-column: 124;
  width: fit-content;
}

.item-247 {
  grid-row: 138;
  grid-column: 18;
  width: fit-content;
}

.item-248 {
  grid-row: 167;
  grid-column: 73;
}

.item-249 {
  grid-row: 112;
  grid-column: 140;
  width: fit-content;
}

.item-250 {
  grid-row: 117;
  grid-column: 48;
  width: fit-content;
}

.item-251 {
  grid-row: 177;
  grid-column: 51;
}

.item-252 {
  grid-row: 134;
  grid-column: 134;
}

.item-253 {
  grid-row: 113;
  grid-column: 94;
  width: fit-content;
}

.item-254 {
  grid-row: 161;
  grid-column: 24;
}

.item-255 {
  grid-row: 180;
  grid-column: 52;
  width: fit-content;
}

.item-256 {
  grid-row: 147;
  grid-column: 104;
  width: fit-content;
}

.item-257 {
  grid-row: 121;
  grid-column: 73;
}

.item-258 {
  grid-row: 133;
  grid-column: 38;
  width: fit-content;
}

.item-259 {
  grid-row: 173;
  grid-column: 68;
}

.item-260 {
  grid-row: 162;
  grid-column: 95;
  width: fit-content;
}

.item-261 {
  grid-row: 176;
  grid-column: 98;
  width: fit-content;
}

.item-262 {
  grid-row: 176;
  grid-column: 10;
  width: fit-content;
}

.item-263 {
  grid-row: 119;
  grid-column: 46;
}

[class^="item-"] {
  position: relative;
  transition: all 0.3s ease; 
}

[class^="item-"] p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  transition: all 0.3s ease; 
  backdrop-filter: blur(80px); 
  z-index: 1; 
}

[class^="item-"] li,
[class^="item-"] p {
  display: none;
  position: relative;
  margin: 1px;
  transition: opacity 0.3s ease; 
}

[class^="item-"]:before {
  content: "";
  display: block;
  margin: 2px;
  width: 40px;
  height: 40px;
  border: 4px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transform: scale(1) rotate(0deg) skewX(0deg); /* Remove skew effect */
  transition: all 0.3s ease; /* Add a smooth transition for all properties */
}

[class^="item-"]:hover:before {
  transform: scale(1.1) rotate(15deg) skewX(0deg); /* Keep skewX at 0deg */
}


[class^="item-"]:hover p {
  grid-column: span 5;
  background-color: white;
  background-blend-mode: difference;
  opacity: 1; /* Ensure it's fully visible on hover */
  z-index: 2; /* Display hovered <p> elements above other elements */
}

[class^="item-"]:hover li,
[class^="item-"]:hover p {
  display: block;
}

[class^="item-"] .hover-content {
  display: none;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  z-index: 1; /* Display .hover-content elements above other elements */
}

[class^="item-"]:hover .hover-content {
  display: block;
  opacity: 1;
  z-index: 3; /* Display hovered .hover-content above other elements */
}

